*{
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
  body{
      background-color: #f5f0e5;
      font-family: Montserrat, sans-serif;
  }
    //    header start

    .logo{
        display: flex;
        justify-content: space-between;
      }
      .logo img{
        margin-top: 5px;
        height:50px;
      }
      #check{
        display: block;
        
      }
      .listDiv{
        display: flex;
      }
      .menu-btn{
        display: none;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        cursor: pointer;
        transition: all .5s ease-in-out;
      }
      .menu-btn-burger {
        width:30px;
        height: 3px;
        background-color: black;
        border-radius: 2px;
        box-shadow: 0 2px 5px rgba(255,101,47,.2);
      }
      .menu-btn-burger::before,
      .menu-btn-burger::after{
        content: '';
        position: absolute;
        width:30px;
        height: 3px;
        background-color: black;
        border-radius: 2px;
        transition:  all .5s ease-in-out;
        box-shadow: 0 2px 5px rgba(255,101,47,.2);
      }
      .menu-btn-burger::before{
          transform: translateY(-10px);
      }
      .menu-btn-burger::after{
        transform: translateY(10px);
      }
      .menu-btn.open .menu-btn-burger{
        transform: translateX(0px);
        background: transparent;
        box-shadow: none;
      }
      .menu-btn.open .menu-btn-burger::before{
        transform: rotate(45deg);
      }
      .menu-btn.open .menu-btn-burger::after{
        transform: rotate(-45deg); 
      }
      .unlist{
        display: block;
      }
      .nav{
          position: fixed;
          top:0;
        width: 100%;
        background-color: white;
        z-index: 999;
        display:flex;
        justify-content:space-between;
        padding:0px 30px 0px 30px;
        align-items: center;
        overflow: hidden;
        box-sizing: border-box;
       
      }
      .nav ul{
        margin-right: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .nav ul li{
        margin-top: 20px;
        display:block;
        list-style-type: none;
        padding:0px 15px;
      }
      
      .nav ul li a{
        text-decoration: none;
        color:black;
        font-size: 14px;
      }

      .nav ul li a::after{
        content:"";
        display: block;
        transform-origin: 0 0;
        transform:scaleX(0);
        width: 100%;
        height:3px;
        background-color: #bE505F;
        transition: 0.3s all linear;
        margin-top: 2px;
       }
       .nav ul li a:hover::after{
       transform-origin: 0 100%;
       transform: scaleX(1);
      
       }
    //    header end

  .bg-video{
    height:70vh;
    overflow:hidden;
    width:100%;
    margin-top: 71px;
    .background-video{
        width:100%;
        height:100%;
        top: 0;
        video{
            object-fit: contain;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: 50%;
            z-index: -1;
            width: auto;
            min-width: 100vw;
            min-height: 100%;
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
          }
      }
      .text-container{
        position:absolute;
        top:40%;
        left:50%;
       transform: translate(-50%, -40%);
        img{
            height:30px;
        }
       .googleplayicon{
           margin-left: 20px;
       }
      }
  }

  // moving slider start
      .designer{
          margin-top: 100px;
          font-weight: 600;
      }

        .sliderlogos{
            width: 100%;
            overflow: hidden;
            margin-top:50px;
            img{
                height:80px;
                width:100px;
                margin-left: 70px;
            }
        } 

  // moving slider end
  .bullet-section{
      background-color: #f5f0e5;
      display: flex;
      align-items: center;
    .bullet-point{
        width:50%;
        overflow-x: hidden;
        .bulletpoint-content{
          width: max-content;
          margin-left: auto;
          margin-right: auto;
          h4{
            font-size: 2.5rem;
             line-height: 3.5rem;
             font-weight: 700;
         }
       
      }
    }
    .bullet-image-section{
        width:50%;
        height:500px;
        overflow: hidden; 
       img{
        height: 100%;
        width: 100%;
        object-fit: contain;
        object-position: center;
       }
    }
  }
  
  

.information-section-first{
    display: flex;
    align-items: center;
    .information{
        width: 50%;
    }
    .image-section-first{
        height: 500px;
        overflow: hidden;
       img{
           height: 100%;
           width: 100%;
           object-fit: contain;
           object-position: center;
       }
    }
    
}

 .information-section-second{
     display: flex;
     align-items: center;
        .information{
            width: 50%;
        }
        .image-section-second{
            height: 500px;
            overflow: hidden;
           img{
               height: 100%;
               width: 100%;
               object-fit: contain;
               object-position: center;
           }
        }
    }

 .information-section-third, .information-section-forth, .information-section-fifth{
     margin-top: 100px;
    display: flex;
    .text-section{
        width: 50%;
        padding: 50px;
    }
    .video-section-third{
        height: 350px;
        width: 50%;
        overflow: hidden;
        border-radius: 30px;
        video{
            object-fit: contain;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50%;
            z-index: -1;
            width: 180%;
            position: relative;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
    }
 }

 .information-section-forth{
    .text-section{
        width: 50%;
        padding: 50px;
    }
    .video-section-forth{
        height: 350px;
        width: 50%;
        overflow: hidden;
        border-radius: 30px;
        video{
            object-fit: contain;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50%;
            z-index: -1;
            width: auto;
            min-width: 100vw;
            min-height: 100%;
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    }
 }

 .information-section-fifth{
    .text-section{
        width: 50%;
        padding: 50px;
    }
    .video-section-fifth{
        height: 350px;
        width: 50%;
        overflow: hidden;
        border-radius: 30px;
        video{
            object-fit: contain;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50%;
            z-index: -1;
            width: auto;
            min-width: 100vw;
            min-height: 100%;
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    }
 }

 .information-section-h-tag{
    font-size: 2.5rem;
    line-height: 4rem;
    font-weight: 700;
 }
    .information-section-p-tag{
        font-size: 1.5rem;
        line-height: 2.5rem;
        font-weight: 400;
    }
  // buttons
  .button{
    transition: all .2s ease-in-out;
      background-color: #bE505F;
      box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.19);
      &:hover{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }
  }
  
    .testimonal{
        margin-top: 100px;
    }
  .footer-section{
    background-color: rgb(62, 83, 119);
    margin-top: 50px;
    .footer{
        display: flex;
        .footer-firstsection{
            width: 50%;
            padding-left: 100px;
            .footer-firstsection-logo{
                width:100px;
                height: 100px;
                margin-top: 50px;
                overflow: hidden;
                img{
                   width: 100%;
                   height: 100%;
                   object-fit: contain;
                }
            }
            .footer-p-tag{
                margin-top: 30px;
            }
            .footer-firstsection-icons{
                .footer-firstsection-icons-icon{
                    margin-left:10px;
                }
            }
        }
        .footer-secondsection{
            width: 50%;
            .footer-secondsection-text{
                display: flex;
                margin-top: 40px;
                width: 100%;
                .footer-secondsection-text-context{
                    margin-left: 25px;
                }
            }
            .footer-secondsection-image{
                width: 100%;
                img{
                    height:100px;
                    width: 200px;
                    margin-left: 380px;
                }
            }
            
        }
    }
    .footer-last-section{
        margin-top: 30px;
        padding-bottom: 20px;
        margin-bottom: 0;
    }
  }

     .contact-banner-section{
        background-color: #BE505F;
        border-radius: 15px;
        .contact-banner{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 30px 45px;
            border-radius: 15px;
            .contact-banner-detailsection{
                width: 60%;
                p{
                    font-size: 25px;
                    font-weight: bold;
                }
                span{
                    font-size: 14px;
                    font-weight: 300;
                }
            }
            .contact-banner-buttonsection{
                width: 20%;
                a{
                    background-color: #3d3737;
                    font-weight: 500;
                }
            }
        }

     }
     .traditional-shopping-experience-header{
        font-weight:bold;
             font-size: 40px;
     }
     .traditional-shopping-experience-boxes{
         text-align: center;
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         .traditional-shopping-experience-box{
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            padding: 35px;
         }
        .traditional-shopping-experience-box{
            width:30%;
            border-radius: 10px;
        }
         
     }
     .traditional-shopping-experience-box-text-tag{
        display: inline-block;
       font-size: 20px;
       line-height: 30px;
       font-weight: 700;
       margin-bottom: 20px;
       margin-top: 20px;
    }

    @media only screen and (min-width:769px) and (max-width:1024px){
        .bg-video{
            height:60vh;
        }
        .footer-secondsection-image img {
            margin-left: 220px !important;
        }
        
    }

    @media only screen and (max-width:768px){
        .navfirstsection{
            align-items: center;
        }
        .designer{
            margin-top: 50px;
        }
        .information-section-third{
            .video-section-third{
                video{
                    width:272%;
                }
            }
        }
        .information-section-forth{
            .video-section-forth{
                video{
                    width:272%;
                }
            }
        }
        .information-section-fifth{
            .video-section-fifth{
                video{
                    width:272%;
                }
            }
        }
        .information-section-h-tag {
            font-size: 2rem;
            line-height: 2.7rem;
        }
            .information-section-p-tag{
                font-size: 1.2rem;
                line-height: 2rem;
            }
        .footer-secondsection-image{
            img{
                margin-left: 150px !important;
            }
        }
        .contact-banner{
            width: 100%;
            display: flex;
            flex-direction: column;
            .contact-banner-detailsection{
                width: 100% !important;
            }
            .contact-banner-buttonsection{
                width: 100% !important;
                margin-top: 20px;
                text-align: center;
            }
        }
        .traditional-shopping-experience-boxes{
            text-align: center;
            display: flex;
            flex-direction: column;
            .traditional-shopping-experience-box{
                width:100%;
                margin-top: 20px;
            }
        }
        .bullet-section{
            flex-direction: column;
            .bullet-image-section {
                width: 100%;
                height: 350px;
                overflow: hidden;
            }
            .bullet-point {
                width: 100%;
                ul li{
                    font-size: 22px;
                }
            }
        }
        .contact-banner-buttonsection {
            margin-top: 40px !important;
        }

        // header css start

        .nav{
            display:flex;
            flex-direction: column;
            line-height: 70px;
          }
          .nav ul{
            display: flex;
            flex-direction: column;
            width:100%;
            padding-left: 0px;
            margin-right: 0;
          } 
          .unlist{
            display: none;
          }
          .menu-btn{
            display: flex;
            margin-top: 10px;
          }
          .listDiv{
             display: flex;
             flex-direction: column;
          }
          .logo{
            width:100%;
          }
          .nav ul li{
              text-align: center;
            display: block;
            padding:0px;
            margin-top: 0px !important;
            line-height: 50px;
          }
          .second-unorderlist{
              margin-top: -15px;
          }
          .nav ul li a{
            font-weight: bold;
          }
          .nav ul li a::after{
              margin-top:-10px;
          }
        .register-btn{
            margin-top: 10px;
        }
        // header css end
    }

@media only screen and (max-width:480px){
    .bg-video{
        h2{
            font-size: 20px;
        }
        p{
            font-size: 15px;
        }
    }
  .information{
      width:100% !important;
      padding:30px 20px 30px 20px !important;
      .image-section-first{
         height:300px !important;
      }
      .image-section-second{
        height:300px;
    }
  }
  .information-section-third, .information-section-forth, .information-section-fifth{
    margin-top: 0px;
  }
  .video-section-third, .video-section-forth, .video-section-fifth{
      margin-top: 40px;
  }
  .text-section{
      width: 100%;
  }
  .bulletpoint-content{
      width:auto;
  }
  .information{
    padding: 30px 20px 30px 20px;
  }
  .information-section-first{
      flex-direction: column;
      .image-section-first{
          height: 300px;
      }
  }
  .information-section-second{
    flex-direction: column-reverse;
    .image-section-second{
        height: 300px;
    }
 }
 .information-section-third{
    flex-direction: column;
    .video-section-third{
        height: 300px;
    }
 }
 .information-section-forth{
    flex-direction: column-reverse;
    .video-section-forth{
        height: 300px;
    }
 }
 .information-section-fifth{
    flex-direction: column;
    .video-section-fifth{
        height: 300px;
    }
 }
 .marquee-content li{
     width:30%;
 }
 .bullet-section{
    display: block;
    .bullet-point{
        padding: 30px 20 30px 20px;
        width:100%;
        .bulletpoint-content{
            width: auto;
            h4{
               font-size: 2.5rem;
                line-height: 3.5rem;
                font-weight: 700;
            }
        }
    }
    .bullet-image-section{
        width:100%;
        height:300px;
    }
 }
 .bulletpoint-content-header{
        text-align: center;
        
 }
 .bulletpoint-content h4 {
    font-size: 1.4rem !important;
}
.bullet-point ul li {
    font-size: 18px !important;
}
 .testimonal{
    margin-top: 60px;
  }
  .information-section-h-tag {
    font-size: 1.6rem;
    line-height: 2rem;
}
    .information-section-p-tag{
        font-size: 1rem;
    line-height: 1.5rem;
    margin-top: 1rem;
    }
    .footer{
        display: flex;
        flex-direction: column;
        .footer-firstsection{
            width: 100% !important;
            padding-left: 20px !important;
            padding-right: 20px !important;
        }
        .footer-secondsection{
            width: 100% !important;
            
            .footer-secondsection-text{
                display: flex;
                flex-direction: column;
                text-align: center;
                .footer-secondsection-text-context{
                    margin-left: 0px !important;
                }
                .fotter-postion-gap{
                    margin-top: 10px;
                }
            }
            .footer-secondsection-image{
                margin-top: 20px;
                img{
                    margin-left: 60px !important;
                }
            }
        }
    }
    .footer-last-section{
        font-size: 12px;
    }
    .contact-banner{
     padding: 20px !important;
     a{
         display: inline-block;
     }
    }
    .traditional-shopping-experience-header {
        font-size: 25px;
        margin-top: 60px;
    }
    
}