* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #f5f0e5;
  font-family: Montserrat, sans-serif;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo img {
  margin-top: 5px;
  height: 50px;
}

#check {
  display: block;
}

.listDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-btn {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.menu-btn-burger {
  width: 30px;
  height: 3px;
  background-color: black;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
          box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
}

.menu-btn-burger::before,
.menu-btn-burger::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: black;
  border-radius: 2px;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
          box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
}

.menu-btn-burger::before {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.menu-btn-burger::after {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.menu-btn.open .menu-btn-burger {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.menu-btn.open .menu-btn-burger::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menu-btn.open .menu-btn-burger::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.unlist {
  display: block;
}

.nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 100px 10px 100px;
}

.nav ul {
  margin-right: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav ul li {
  margin-top: 20px;
  display: block;
  list-style-type: none;
  padding: 0px 15px;
}

.nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 14px;
}

.nav ul li a:hover {
  color: red;
}

.nav ul li a::after {
  content: "";
  display: block;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  width: 25px;
  height: 3px;
  background-color: #bE505F;
  -webkit-transition: 0.3s all linear;
  transition: 0.3s all linear;
  margin-top: 2px;
}

.nav ul li a:hover::after {
  -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.register-btn {
  background: #bE505F;
  padding: 8px 20px 3px 20px;
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.19);
          box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.19);
}

.register-btn:hover {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bg-video {
  height: 70vh;
  overflow: hidden;
  width: 100%;
  margin-top: 71px;
}

.bg-video .banner-header {
  font-size: 4.4rem;
  font-weight: 900;
}

.bg-video .banner-header-paratag {
  font-size: 1.3rem;
}

.bg-video .background-video {
  width: 100%;
  height: 100%;
  top: 0;
}

.bg-video .background-video video {
  -o-object-fit: contain;
     object-fit: contain;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
  z-index: -1;
  width: auto;
  min-width: 100vw;
  min-height: 100%;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.bg-video .text-container {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -40%);
          transform: translate(-50%, -40%);
}

.bg-video .text-container .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bg-video .text-container .icons a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bg-video .text-container img {
  height: 30px;
}

.bg-video .text-container .googleplayicon {
  margin-left: 20px;
}

.bg-video .text-container .appleicon {
  background: #bE505F;
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.19);
          box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.19);
}

.bg-video .text-container .googleplay {
  background: #3d3737;
  margin-left: 20px;
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.19);
          box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.19);
}

.bg-video .text-container .appsicon {
  margin-left: 10px;
}

.bg-video .text-container .googleplay:hover, .bg-video .text-container .appleicon:hover {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.designer {
  font-weight: 600;
}

.moving-logoslider {
  background-color: white;
  padding: 25px 0 0px 0;
}

.wrapper {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0px 20px 0px;
  margin-top: 30px;
}

.slider {
  width: 100%;
  height: 100px;
  position: relative;
  background: white;
  -webkit-box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.slides {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: slideshows 20s linear infinite;
          animation: slideshows 20s linear infinite;
}

.slides img {
  height: 70px;
  padding: 0 20px 0 20px;
}

@-webkit-keyframes slideshows {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes slideshows {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

.bullet-section {
  background-color: #f5f0e5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bullet-section .bullet-point {
  width: 50%;
  overflow-x: hidden;
}

.bullet-section .bullet-point .bulletpoint-content {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.bullet-section .bullet-point .bulletpoint-content .bulletpoint-content-text li {
  font-size: 20px;
}

.bullet-section .bullet-point .bulletpoint-content h4 {
  font-size: 2.5rem;
  line-height: 3.5rem;
  font-weight: 700;
}

.bullet-section .bullet-image-section {
  width: 50%;
  height: 500px;
  overflow: hidden;
}

.bullet-section .bullet-image-section img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.information-section-first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.information-section-first .information {
  width: 50%;
}

.information-section-first .image-section-first {
  height: 500px;
  overflow: hidden;
}

.information-section-first .image-section-first img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.information-section-second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.information-section-second .information {
  width: 50%;
}

.information-section-second .image-section-second {
  height: 500px;
  overflow: hidden;
}

.information-section-second .image-section-second img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.information-section-third, .information-section-forth, .information-section-fifth {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.information-section-third .text-section, .information-section-forth .text-section, .information-section-fifth .text-section {
  width: 50%;
  padding: 50px;
}

.information-section-third .video-section-third, .information-section-forth .video-section-third, .information-section-fifth .video-section-third {
  height: 350px;
  width: 50%;
  overflow: hidden;
  border-radius: 30px;
}

.information-section-third .video-section-third video, .information-section-forth .video-section-third video, .information-section-fifth .video-section-third video {
  -o-object-fit: contain;
     object-fit: contain;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  z-index: -1;
  width: 180%;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.information-section-forth .text-section {
  width: 50%;
  padding: 50px;
}

.information-section-forth .video-section-forth {
  height: 350px;
  width: 50%;
  overflow: hidden;
  border-radius: 30px;
}

.information-section-forth .video-section-forth video {
  -o-object-fit: contain;
     object-fit: contain;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  z-index: -1;
  width: auto;
  min-width: 100vw;
  min-height: 100%;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.information-section-fifth .text-section {
  width: 50%;
  padding: 50px;
}

.information-section-fifth .video-section-fifth {
  height: 350px;
  width: 50%;
  overflow: hidden;
  border-radius: 30px;
}

.information-section-fifth .video-section-fifth video {
  -o-object-fit: contain;
     object-fit: contain;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  z-index: -1;
  width: auto;
  min-width: 100vw;
  min-height: 100%;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.information-section-h-tag {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 700;
}

.information-section-p-tag {
  font-size: 1.5rem;
  line-height: 1.4;
  margin-top: 2rem;
  font-weight: 400;
}

.button {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  background-color: #bE505F;
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.19);
          box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.19);
}

.button:hover {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.testimonal {
  margin-top: 100px;
}

.footer-section {
  background-color: #3e5377;
  margin-top: 50px;
}

.footer-section .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-section .footer .footer-firstsection {
  width: 50%;
  padding-left: 100px;
}

.footer-section .footer .footer-firstsection .footer-firstsection-logo {
  width: 100px;
  height: 100px;
  margin-top: 50px;
  overflow: hidden;
}

.footer-section .footer .footer-firstsection .footer-firstsection-logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.footer-section .footer .footer-firstsection .footer-p-tag {
  margin-top: 30px;
}

.footer-section .footer .footer-firstsection .footer-firstsection-icons .footer-firstsection-icons-icon {
  margin-left: 10px;
}

.footer-section .footer .footer-secondsection {
  width: 50%;
}

.footer-section .footer .footer-secondsection .footer-secondsection-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  width: 100%;
}

.footer-section .footer .footer-secondsection .footer-secondsection-text .footer-secondsection-text-context {
  margin-left: 25px;
}

.footer-section .footer .footer-secondsection .footer-secondsection-image {
  width: 100%;
}

.footer-section .footer .footer-secondsection .footer-secondsection-image img {
  height: 100px;
  width: 200px;
  margin-left: 380px;
}

.footer-section .footer-last-section {
  margin-top: 30px;
  padding-bottom: 20px;
  margin-bottom: 0;
}

.footer-section .fotter-postion-gap, .footer-section .fotter-partner {
  margin-top: 10px;
}

.contact-banner-section {
  background-color: #BE505F;
  border-radius: 15px;
}

.contact-banner-section .contact-banner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 45px;
  border-radius: 15px;
}

.contact-banner-section .contact-banner .contact-banner-detailsection {
  width: 60%;
}

.contact-banner-section .contact-banner .contact-banner-detailsection p {
  font-size: 25px;
  font-weight: bold;
}

.contact-banner-section .contact-banner .contact-banner-detailsection span {
  font-size: 14px;
  font-weight: 300;
}

.contact-banner-section .contact-banner .contact-banner-buttonsection {
  width: 20%;
}

.contact-banner-section .contact-banner .contact-banner-buttonsection a {
  background-color: #3d3737;
  font-weight: 500;
}

.traditional-shopping-experience-header {
  font-weight: bold;
  font-size: 40px;
}

.traditional-shopping-experience-boxes {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.traditional-shopping-experience-boxes .traditional-shopping-experience-box {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 35px;
}

.traditional-shopping-experience-boxes .traditional-shopping-experience-box {
  width: 30%;
  border-radius: 10px;
}

.traditional-shopping-experience-box-text-tag {
  display: inline-block;
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: 20px;
}

@media only screen and (max-width: 1024px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    line-height: 70px;
  }
  .nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    padding-left: 0px;
    margin-right: 0;
  }
  .unlist {
    display: none;
  }
  .menu-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 10px;
  }
  .listDiv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .logo {
    width: 100%;
  }
  .nav ul li {
    text-align: center;
    display: block;
    padding: 0px;
    margin-top: 0px !important;
    line-height: 50px;
  }
  .second-unorderlist {
    margin-top: -15px;
  }
  .nav ul li a {
    font-weight: bold;
    margin-top: 12px;
    margin-bottom: 12px;
  }
  .nav ul li a::after {
    margin-top: -10px;
  }
  .register-btn {
    padding: 0px 30px 3px 30px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .bg-video {
    height: 60vh;
  }
  .footer-secondsection-image img {
    margin-left: 220px !important;
  }
}

@media only screen and (max-width: 768px) {
  .navfirstsection {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .designer {
    margin-top: 50px;
  }
  .information-section-third .video-section-third video {
    width: 272%;
  }
  .information-section-forth .video-section-forth video {
    width: 272%;
  }
  .information-section-fifth .video-section-fifth video {
    width: 272%;
  }
  .information-section-h-tag {
    font-size: 2rem;
    line-height: 2.7rem;
  }
  .information-section-p-tag {
    font-size: 1.2rem;
    line-height: 2rem;
  }
  .footer-secondsection-image img {
    margin-left: 150px !important;
  }
  .contact-banner {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-banner .contact-banner-detailsection {
    width: 100% !important;
  }
  .contact-banner .contact-banner-buttonsection {
    width: 100% !important;
    margin-top: 20px;
    text-align: center;
  }
  .traditional-shopping-experience-boxes {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .traditional-shopping-experience-boxes .traditional-shopping-experience-box {
    width: 100%;
    margin-top: 20px;
  }
  .bullet-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .bullet-section .bullet-image-section {
    width: 100%;
    height: 350px;
    overflow: hidden;
  }
  .bullet-section .bullet-point {
    width: 100%;
  }
  .contact-banner-buttonsection {
    margin-top: 40px !important;
  }
  .bulletpoint-content-text li {
    font-size: 18px;
  }
  .register-btn {
    padding: 0px 30px 3px 30px;
  }
}

@media only screen and (max-width: 480px) {
  .nav {
    padding: 10px 10px 10px 10px;
  }
  .slides {
    -webkit-animation: slideshows 25s linear infinite !important;
            animation: slideshows 25s linear infinite !important;
  }
  .bg-video {
    height: 75vh;
  }
  .bg-video h2 {
    font-size: 20px;
  }
  .bg-video p {
    font-size: 15px;
  }
  .banner-header {
    font-size: 2.2rem !important;
    margin-top: 1rem;
  }
  .banner-header-paratag {
    font-size: 1.1rem !important;
  }
  .wrapper {
    margin-top: 0px;
  }
  .wrapper .slides img {
    padding: 0 5px 0 5px;
  }
  .designer {
    margin-top: 0px;
  }
  .information {
    width: 100% !important;
    padding: 30px 20px 30px 20px !important;
    text-align: center;
  }
  .information .image-section-first {
    height: 300px !important;
  }
  .information .image-section-second {
    height: 300px;
  }
  .information-section-third, .information-section-forth, .information-section-fifth {
    margin-top: 0px;
  }
  .video-section-third, .video-section-forth, .video-section-fifth {
    margin-top: 40px;
  }
  .text-section {
    width: 100%;
  }
  .bulletpoint-content {
    width: auto;
  }
  .information {
    padding: 30px 20px 30px 20px;
  }
  .information-section-first {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .information-section-first .image-section-first {
    height: 300px;
  }
  .information-section-second {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .information-section-second .image-section-second {
    height: 300px;
  }
  .information-section-third {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .information-section-third .video-section-third {
    height: 300px;
  }
  .information-section-forth {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .information-section-forth .video-section-forth {
    height: 300px;
  }
  .information-section-fifth {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .information-section-fifth .video-section-fifth {
    height: 300px;
  }
  .marquee-content li {
    width: 30%;
  }
  .bullet-section {
    display: block;
  }
  .bullet-section .bullet-point {
    padding: 30px 20 30px 20px;
    width: 100%;
  }
  .bullet-section .bullet-point .bulletpoint-content {
    width: auto;
  }
  .bullet-section .bullet-point .bulletpoint-content h4 {
    font-size: 2.5rem;
    line-height: 3.5rem;
    font-weight: 700;
  }
  .bullet-section .bullet-image-section {
    width: 100%;
    height: 300px;
  }
  .bulletpoint-content-header {
    text-align: center;
  }
  .bulletpoint-content h4 {
    font-size: 1.4rem !important;
  }
  .bullet-point ul li {
    font-size: 16px !important;
  }
  .testimonal {
    margin-top: 60px;
  }
  .information-section-h-tag {
    font-size: 1.6rem;
    line-height: 2rem;
  }
  .information-section-p-tag {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-top: 1rem;
  }
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .footer .footer-firstsection {
    width: 100% !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
  .footer .footer-firstsection .footer-firstsection-logo {
    margin-top: 0px !important;
    margin-left: auto;
    margin-right: auto;
  }
  .footer .footer-firstsection .footer-p-tag {
    margin-top: 0px !important;
  }
  .footer .footer-secondsection {
    width: 100% !important;
  }
  .footer .footer-secondsection .footer-secondsection-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .footer .footer-secondsection .footer-secondsection-text .footer-secondsection-text-context {
    margin-left: 0px !important;
  }
  .footer .footer-secondsection .footer-secondsection-text .fotter-postion-gap {
    margin-top: 10px;
  }
  .footer .footer-secondsection .footer-secondsection-image {
    margin-top: 20px;
  }
  .footer .footer-secondsection .footer-secondsection-image img {
    margin-left: 0px !important;
  }
  .footer-last-section {
    font-size: 12px;
  }
  .contact-banner {
    padding: 20px !important;
  }
  .contact-banner a {
    display: inline-block;
  }
  .traditional-shopping-experience-header {
    font-size: 24px;
    margin-top: 60px;
  }
  .contact-banner-section {
    width: 95% !important;
  }
  .footer-secondsection-image {
    display: inline-block !important;
  }
  .footer-secondsection-image img {
    width: 140px !important;
    margin-left: 0px !important;
  }
  .icons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .icons .googleplay {
    margin-left: 0px !important;
  }
  .icons .googleplayicon {
    margin-left: 10px !important;
  }
}

@media only screen and (max-width: 360px) {
  .bg-video {
    height: 83vh;
  }
  .banner-header {
    font-size: 2.2rem !important;
    margin-top: 3rem;
  }
}

@media only screen and (max-width: 320px) {
  .bg-video {
    height: 88vh;
  }
  .banner-header {
    margin-top: 5rem;
  }
}
/*# sourceMappingURL=style.css.map */